
{% block content %}
{% load staticfiles %}
<p></p>
{{abfahrt2}}
<p></p>
{{pegel2}}

{% if outcome2 == "0" %}
	<p><img src="{% static 'personal/img/green.png' %}" class="responsive-img" style='max-height:20px;' alt="ampel"></p>
{% elif outcome2 == "1" %}
	<p><img src="{% static 'personal/img/yellow.png' %}" class="responsive-img" style='max-height:20px;' alt="ampel"></p>
{% elif outcome2 == "2" %}
	<p><img src="{% static 'personal/img/red.png' %}" class="responsive-img" style='max-height:20px;' alt="ampel"></p>
{% elif outcome2 == "999" %}
	<p><img src="{% static 'personal/img/white.png' %}" class="responsive-img" style='max-height:20px;' alt="ampel"></p>
{% endif %}

{% endblock %}	